/* PAGE */
.wrapper {
  padding: 32px;
  height: max-content;
  background: var(--color-bg);
}

/* HEADER */
.header {
  text-align: center;
}

.header h1 {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-heading);
}

.subHeading {
  font-size: 15px;
  color: var(--color-text-light);
  margin-bottom: 28px;
}

/* GRID */
.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 28px;
}

/* CARD */
.card {
  background: var(--color-card);
  padding: 24px;
  border-radius: 16px;
  border: 1px solid var(--border-light);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.06);
  transition: 0.25s ease;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin-bottom: 1.5rem;
  text-align: center;
  text-decoration: underline;
}

/* INFO GRID */
.infoGrid p {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.infoGrid span {
  font-weight: 600;
  color: var(--color-primary);
}

/* TAGS */
.tagList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  padding: 8px 14px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 20px;
  background: var(--color-primary-soft);
  color: var(--color-primary);
  border: 1px solid var(--color-primary-light);
  transition: 0.2s ease;
}

.tag:hover {
  background: var(--color-primary);
  color: white;
}

/* EMPTY STATE */
.emptyState {
  text-align: center;
  padding: 80px 20px;
  color: var(--color-text);
}

.emptyIcon {
  font-size: 60px;
  margin-bottom: 16px;
}

/* LOADING SKELETON */
.skeletonHeader {
  width: 260px;
  height: 32px;
  border-radius: 8px;
  margin-bottom: 34px;
  animation: skeleton 1.4s infinite linear;
}

.skeletonGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 28px;
}

.skeletonCard {
  height: 160px;
  border-radius: 16px;
  animation: skeleton 1.4s infinite linear;
}

@keyframes skeleton {
  0% {
    background: rgba(200, 200, 200, 0.13);
  }
  50% {
    background: rgba(200, 200, 200, 0.25);
  }
  100% {
    background: rgba(200, 200, 200, 0.13);
  }
}

@media (max-width: 380px) {
  .wrapper {
    padding: 1rem 0.5rem;
  }
  .header h1 {
    font-size: 28px;
  }

  .subHeading{
    padding: .5rem .2rem;
  }
  .cardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 28px;
  }
}
